@import "../../vars.scss";

.Navbar {
  // Set navbar postiton
  top: 0;
  margin: 1.5em auto 1em auto;
  width: calc(100% - 10em);
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  // Set background navbar style
  background-color: $opacitiy-white;
  border-radius: 4rem;
  // Set elements/items postition
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(2px);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  z-index: 12;

  .HomeIcon {
    width: 4rem;
    margin: 0.8rem 0 0.5rem 3rem;

    &:hover {
      cursor: pointer;
    }
  }

  .RightSide {
    display: flex;
    align-items: center;
  }

  .SearchIcon,
  .SearchButton {
    display: none;
  }

  .BurgerIcon {
    width: 2.5rem;
    margin-right: 3rem;

    &:hover {
      cursor: pointer;
    }
  }

  .BurgerButton {
    display: block;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
  }
}

.SearchBar {
  display: flex;
  align-items: center;

  .SearchInput {
    height: 3rem;
    width: 18rem;
    border-radius: 1rem;
    border: 1px solid lightgrey;
    transform: translateX(5.2rem);
    padding-left: 1rem;
  }

  .GoIcon {
    scale: 0.75;
    margin-right: 1rem;

    &:hover {
      cursor: pointer;
      filter: grayscale(30%) hue-rotate(320deg);
    }
  }
}

.BurgerMenu {
  position: fixed;
  top: 0;
  display: none;
  text-align: center;
  background-color: #1818188e;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10;

  ul {
    position: fixed;
    padding: 0;
    top: 8rem;
    right: 5rem;
    border-radius: 2rem;
    backdrop-filter: blur(2px);
    background-color: $opacitiy-white;
  }

  li {
    padding: 1rem;
    list-style: none;
    font-weight: 450;

    &:hover {
      border-radius: 2rem;
      background-color: #1818181a;
    }
  }

  a {
    padding: 0.5rem;
    text-decoration: none;
    color: $black-color;
    display: flex;
    justify-content: center;
  }
}

.BurgerMenuActive {
  display: flex;
}

.SearchBarMobile {
  display: none;
}

.GoButton {
  display: block;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  height: 3.5rem;
}

@media screen and (max-width: 800px) {
  .Navbar {
    width: calc(100% - 3em);

    .SearchButton {
      display: block;
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      cursor: pointer;
      outline: inherit;
    }

    .SearchIcon {
      display: block;
      border-style: none;
      width: 2rem;
      height: 2rem;
      margin-left: 1.5rem;

      &:hover {
        cursor: pointer;
      }
    }

    .BurgerIcon {
      width: 1.5rem;
      margin-right: 1.5rem;
    }

    .HomeIcon {
      width: 2.5rem;
      margin: 0.5rem;
    }
    .GoSearch {
      display: none;
    }
  }

  .BurgerMenu {
    ul {
      top: 5.5rem;
      right: 1.5rem;
    }
  }

  .SearchBarMobile {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #1818188e;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 10;

    .SearchInput {
      margin-top: 100px;
      transform: translateX(3.8rem);
    }

    .GoIcon {
      margin-top: 96.5px;
      transform: translateX(-1.8rem);
    }
  }

  .SearchBarDesktop,
  .SearchBarMobile {
    display: none;
  }

  .SearchBarMobileActive {
    display: flex;
  }
}
